<div class="grid">
    <div class="col-12">
        <div class="card">
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Subir documento en formato PDF</h5>
            <app-subirdocumento></app-subirdocumento>

        </div>

        <div class="card">
            <app-firmante></app-firmante>

        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Previsualizar documento</h5>

        </div>

        <div class="card">
            <h5>Calculo de pago</h5>

        </div>

        <div class="card">
            <h5><app-todo></app-todo></h5>

        </div>



    </div>




</div>
