<h5 class="p-mb-3">{{ editIndex === null ? 'Agregar Firmante' : 'Editar Firmante' }}</h5>
    <form (ngSubmit)="addFirmante()" class="p-fluid">
                <div class="formgroup-inline">
                    <div class="field">
                        <label htmlFor="Nombre" class="p-sr-only">Nombre</label>
                        <input
                        placeholder="Ingrese el nombre"
                        [formControl]="txtInputNombre"
                        (Keyup.enter)="agregar()"
                        />

                      <!--   id="Nombre"
                        type="text"
                        pInputText [(ngModel)]="newFirmante.Nombre"
                        name="Nombre"
                         -->

                    </div>
                    <div class="field">
                        <label htmlFor="ApellidoPaterno" class="p-sr-only">Apellido Paterno</label>
                        <input id="ApellidoPaterno" type="text" pInputText [(ngModel)]="newFirmante.ApellidoPaterno" name="ApellidoPaterno" placeholder="Ingrese el apellido paterno" required />
                    </div>
                    <div class="field">
                        <label htmlFor="ApellidoMaterno" class="p-sr-only">Apellido Materno</label>
                        <input id="ApellidoMaterno" type="text" pInputText [(ngModel)]="newFirmante.ApellidoMaterno" name="ApellidoMaterno" placeholder="Ingrese el apellido materno" required />
                    </div>
                    <div class="field">
                        <label htmlFor="Email" class="p-sr-only">Email</label>
                        <input id="Email" pInputText [(ngModel)]="newFirmante.Email" name="Email" type="email" placeholder="ejemplo@correo.com" required />
                    </div>
                    <div class="field">
                        <label htmlFor="Celular" class="p-sr-only">Celular</label>
                        <input id="Celular" pInputText [(ngModel)]="newFirmante.Celular" name="Celular" type="tel" placeholder="9XXXXXXXX" required />
                    </div>


                    <div class="p-d-flex p-jc-end p-ai-center p-mt-3 p-gap-3">
                        <!-- Botón Agregar/Guardar Cambios -->
                        <p-button
                            type="submit"
                            label="{{ editIndex === null ? 'Agregar' : 'Guardar Cambios' }}"
                            icon="pi pi-check"
                            class="p-button-rounded p-button-success"

                            tooltipPosition="top"
                        ></p-button>

                        <!-- Botón Cancelar -->
                        <p-button
                            *ngIf="editIndex !== null"
                            label="Cancelar"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-outlined p-button-danger"
                            (click)="cancelEdit()"
                            pTooltip="Cancelar edición actual"
                            tooltipPosition="top"
                        ></p-button>
                    </div>

                </div>

    </form>

