.container {
    max-width: 800px !important;
    margin: 0 auto !important;
  }

  .form-container {
    background-color: #f9f9f9 !important;
  }

  .p-listbox-custom {
    border: none !important;
    background-color: #ffffff !important;
  }

  .p-listbox-custom .firmante-item {
    border-bottom: 1px solid #ececec !important;
  }

  .p-listbox-custom .firmante-item:last-child {
    border-bottom: none !important;
  }

  .actions p-button {
    margin-left: 0.5em !important;
  }

  .actions p-button:first-child {
    margin-left: 0 !important;
  }

  .p-card {
    margin-top: 1.5em !important;
  }

  .p-button-warning {
    background-color: #ffc107 !important; /* Amarillo */
    color: #000000 !important;
    border: none !important;
  }

  .p-button-danger {
    background-color: #dc3545 !important; /* Rojo */
    color: #ffffff !important;
    border: none !important;
  }

  .p-button-text.p-button-warning:hover {
    background-color: #e0a800 !important; /* Amarillo oscuro al pasar el mouse */
    color: #ffffff !important;
  }

  .p-button-text.p-button-danger:hover {
    background-color: #c82333 !important; /* Rojo oscuro al pasar el mouse */
    color: #ffffff !important;
  }

  .firmante-item:hover {
    background-color: #f4f4f4 !important; /* Color de fondo al pasar el mouse */
  }
